<!-- src/app/company-list/company-list.component.html -->

<div *ngIf="companies.length > 0; else noCompanies">
  <h2>Companies</h2>
  <ul>
    <div *ngFor="let company of companies">
        <h3>{{ company.name }}</h3>
        <button (click)="showVacancies(company.id)">Show Vacancies</button>

        <ul *ngIf="vacanciesMap[company.id]">
          <li *ngFor="let vacancy of vacanciesMap[company.id]">
            {{ vacancy.name }} — {{ vacancy.salary }}$
          </li>
        </ul>
      </div>
  </ul>
</div>
<ng-template #noCompanies>
  <p>No companies found.</p>
</ng-template>
